body{
    margin:0%;
    text-align: center;
    background-image: url("station.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
}

h1{
    margin-top:150px;
    font-size: 60px;
    margin-bottom: 0px;;
}

h2{
    font-size: 72px;
    margin-top: 10px;
    margin-bottom:20px ;
    color: darkblue;
}

button{
   border: none;
   padding:10px 20px;
   border-radius: 5px;
   margin-left:40px ;
   font-weight: bold;
   font-size:20px ;
   color:white;
   width: 200px;
}

#increment-btn{
    background: darkred;
}
#save-btn{
    background: darkgreen;
}

p{
    margin-top: 30px;
    font-weight: bold;
    font-size:24px ;
    color:whitesmoke;
    text-align: left;
    margin-left: 10px;
}